<% content_for(:title_tag) do %>
  <%= @user.first_name ? @user.first_name : 'anonymous' %> <%= @user.last_name ? @user.last_name : '' %>'s hubots'
<% end %>

<div class="container">
  <h1>
    <%= @user.first_name ? @user.first_name : 'Anonymous' %> <%= @user.last_name ? @user.last_name : '' %>'s hubots
  </h1>
  <div class="row">
    <% @user.hubots.each do |hubot| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: #5FC5C5">
          <div class="card-category"><%= hubot.category %></div>
          <div class="card-description">
            <h2><%= hubot.name %></h2>
            <p><%= hubot.model %><br><%= hubot.manufacturer %></p>
          </div>
          <%= image_tag "hubot.jpg", class:"card-user avatar-xlarge" %>
        </div>
    </div>
  <% end %>
</div>


<table class="table table-striped table-responsive" style="">
  <thead>
    <th></th>
    <th>Category</th>
    <th>Model</th>
    <th>Manufacturer</th>
  </thead>
  <t>
    <% @user.hubots.each do |hubot|  %>
      <tr>
        <th scope="row">
          <%= link_to hubot_path do %>
            <%= image_tag "hubot.jpg", class:"avatar-large" %> <%= hubot.name %>
          <% end %>
        </td>
        <td><%= hubot.category %></td>
        <td><%= hubot.model %></td>
        <td><%= hubot.manufacturer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
