<% content_for(:title_tag) do %>
  <%= @user.first_name ? @user.first_name : 'anonymous' %> <%= @user.last_name ? @user.last_name : '' %>
<% end %>

<%= link_to "â† Back", :back, class: "btn btn-default btn-back" %>
<div class="container"">

  <div class="row">
    <div class="col-md-2">
      <%= cl_image_tag( @user.photo if @user.photo), class:"avatar avatar-xxlarge" %>
    </div>
    <div class="col-md-10">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <% if @user == current_user %>
          <h3>Welcome to your dashboad !</h3>
        <% end %>
        <p><%= @user.description %></p>
    </div>
  </div>

  <!-- tabs headers -->

  <div class="row">
    <div class="tabs">

      <a class="tab active" data-target="#profile">
        <h3>
          <%= @user == current_user ? "My profile infos" : "Profile infos" %>
        </h3>
      </a>
      <% if @user == current_user %>
        <a class="tab" data-target="#bookings">
          <h3>
          My bookings
          <% if @user.bookings.count > 0 %>
            (<%= @user.bookings.count %>)
          <% end %>
          </h3>
        </a>
      <% end %>

      <a class="tab" data-target="#hubots">
        <h3>
          <%= @user == current_user ? "My hubots" : "Hubots" %>
          <% if @user.hubots.count > 0 %>
            (<%= @user.hubots.count %>)
          <% end %>
        </h3>
      </a>

    </div>
  </div>


  <!-- tabs contents -->

  <div class="row">

    <div class="tab-content" id="profile">
      <h4>
        About <%= @user == current_user ? "you" : @user.first_name %>
      </h4>
      <p><%= @user.description %></p>
      <h4><%= @user == current_user ? "Your" : @user.first_name + "'s" %> infos</h4>
      <table class="table-striped">
        <tr>
          <td>email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>GPS Coordinates</td>
          <td><%= @user_coordinates[:lat] %>, <%= @user_coordinates[:lng] %></td>
        </tr>
      </table>
    </div>

    <div class="tab-content hidden" id="bookings">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!-- Tag lists -->

      <%= link_to "Pending bookings", "#pending-bookings", class: "btn btn-default" %>
      <% if %>
        <%= link_to "Current bookings", "#current-bookings", class: "btn btn-default" %>
        <%= link_to "Old bookings", "#old-bookings", class: "btn btn-default" %>
      <% end %>
      </div>

      <!-- Pending hubots booked by current_user (waiting for acceptance from the owner) -->

      <h4 id="pending-bookings">Your pendind bookings</h4>
      <p>(required action from hubot's owner)</p>

      <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= render 'shared/hubot', hubot: booking.hubot %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-9">
            <span><strong>Date of booking:</strong> <%= booking.created_at %></span><br>
            <span><strong>From:</strong> <%= booking.check_in %></span><br>
            <span><strong>To:</strong> <%= booking.check_out %></span><br>
            <span><strong>Duration:</strong> <%= booking.check_out - booking.check_in %></span><br>
            <span><strong>Total price:</strong> $<%= booking.total_price %></span><br><br>
            <span><strong>Status:</strong> <%= booking.status %></span><br><br>
            <strong>Owner:</strong><br>
            <%= link_to user_path(booking.hubot.user) do %>
              <%= image_tag "johndoe.jpg", class:"avatar" %>
              <%= booking.hubot.user.first_name %>
            <% end %>
            <br>
            <%= link_to "Owner's reviews" %>
            <br>
            <%= link_to "Hubot's reviews" %>

          </div>
        </div>
      <% end %>

      <!-- Currently booked hubots by current_user -->
      <% if @user.bookings.count > 0 %>
        <h4 id="current-bookings">Your current bookings</h4>
      <% else %>
        <p>
          No booking !
          <%= link_to "find a Hubot !", hubots_path %>
        </p>
      <% end %>

      <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= render 'shared/hubot', hubot: booking.hubot %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-9">
            <span><strong>Date of booking:</strong> <%= booking.created_at %></span><br>
            <span><strong>From:</strong> <%= booking.check_in %></span><br>
            <span><strong>To:</strong> <%= booking.check_out %></span><br>
            <span><strong>Duration:</strong> <%= booking.check_out - booking.check_in %></span><br>
            <span><strong>Total price:</strong> $<%= booking.total_price %></span><br>
            Owner: <%= link_to user_path(booking.hubot.user) do %>
              <%= image_tag "johndoe.jpg", class:"avatar" %>
              <%= booking.hubot.user.first_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Pending bookings for hubots -->

    <!-- Currently booked hubots -->
      <!-- TODO -->

    <!-- All hubots -->

    <div class="tab-content hidden" id="hubots">
      <h4>All my hubots :</h4>
      <% @user.hubots.each do |hubot| %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= render 'shared/hubot', hubot: hubot %>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9">
          <% hubot.bookings.each do |booking| %>
            <p><strong>Created at:</strong> <%= booking.created_at %></p>
            <p><strong>Total price:</strong> <%= booking.total_price %></p>
            <p><strong>Client:</strong> <%= booking.user.first_name %></p>
            <p><strong>Booking status:</strong> <%= booking.status %></p>
          <% end %>
        </div>

    </div>
      <% end %>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @user_coordinates.to_json %>;
      console.log('User coordinates are ' + coord.lat + ', ' + coord.lng);

      $('.tab').on('click', function(event) {
        $('.tab').removeClass('active');
        $(this).addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });
    });
  <% end %>
<% end %>
