<% content_for(:title_tag) do %>
  <%= @user.first_name ? @user.first_name : 'anonymous' %> <%= @user.last_name ? @user.last_name : '' %>
<% end %>

<%= link_to "â† Back", :back, class: "btn btn-default " %>

<div class="container"">

  <div class="row">
    <div class="col-md-1">
      <%= image_tag "johndoe.jpg", class:"avatar-xlarge" %>
    </div>
    <div class="col-md-11">
      <h1>
        Welcome <%= @user.first_name %> <%= @user.last_name %> !
      </h1>
    </div>
  </div>

  <!-- tabs headers -->

  <div class="row">
    <div class="tabs">

      <a class="tab active" data-target="#profile">
        <h3>My profile infos</h3>
      </a>

      <a class="tab" data-target="#bookings">
        <h3>
        My bookings
        <% if @user.bookings.count > 0 %>
          (<%= @user.bookings.count %>)
        <% end %>
        </h3>
      </a>

      <a class="tab" data-target="#hubots">
        <h3>
          My hubots
          <% if @user.hubots.count > 0 %>
            (<%= @user.hubots.count %>)
          <% end %>
        </h3>
        <% if @pending > 0 %>
          <p><%= pluralize @pending, "pending book" %></p>
        <% end %>
      </a>

    </div>
  </div>


  <!-- tabs contents -->

  <div class="row">

    <div class="tab-content" id="profile">
      <h4>About you</h4>
      <p><%= @user.description %></p>
      <h4>Your infos</h4>
      <table class="table-striped">
        <tr>
          <td>email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>GPS Coordinates</td>
          <td><%= @user_coordinates[:lat] %>, <%= @user_coordinates[:lng] %></td>
        </tr>
      </table>
    </div>

    <div class="tab-content hidden" id="bookings">
      <% if @user.bookings.count > 0 %>
        <h4>Currently booked Hubots</h4>
      <% else %>
        <p>
          No booking !
          <%= link_to "Choose a Hubot", hubots_path %>
        </p>
      <% end %>
      <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= render 'shared/hubot', hubot: booking.hubot %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-9">
            <span><strong>Date of booking:</strong> <%= booking.created_at %></span><br>
            <span><strong>From:</strong> <%= booking.check_in %></span><br>
            <span><strong>To:</strong> <%= booking.check_out %></span><br>
            <span><strong>Duration:</strong> <%= booking.check_out - booking.check_in %></span><br>
            <span><strong>Total price:</strong> $<%= booking.total_price %></span><br>
            Owner: <%= link_to user_path(booking.hubot.user) do %>
              <%= image_tag "johndoe.jpg", class:"avatar" %>
              <%= booking.hubot.user.first_name %>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>

    <div class="tab-content hidden" id="hubots">

      <!-- Pending bookings -->

      <% @user.hubots.each do |hubot| %>
        <% if hubot.bookings.count > 0 %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= render 'shared/hubot', hubot: hubot %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-9">
          </div>
          </div>
        <% end %>
      <% end %>

      <% @user.hubots.each do |hubot| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= render 'shared/hubot', hubot: hubot %>
        </div>
      <% end %>
    </div>

  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @user_coordinates.to_json %>;
      console.log('User coordinates are ' + coord.lat + ', ' + coord.lng);

      $('.tab').on('click', function(event) {
        $('.tab').removeClass('active');
        $(this).addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });
    });
  <% end %>
<% end %>
