<% content_for(:title_tag) do %>
  <%= @user.first_name + @user.last_name %>
<% end %>

<%= link_to "â† Back", :back, class: "btn btn-default" %>
<div class="container"">

  <div class="row">
    <div class="col-md-1">
      <%= image_tag "johndoe.jpg", class:"avatar-xlarge" %>
    </div>
    <div class="col-md-11">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <% if @user == current_user %>
          <h3>Welcome to your dashboad !</h3>
        <% end %>
    </div>
  </div>

  <!-- #################################################################### -->
  <!-- tabs headers -->

  <div class="row">
    <div class="tabs">

      <a class="tab active" data-target="#profile">
        <h3>
          <%= @user == current_user ? "My profile infos" : "Profile infos" %>
        </h3>
      </a>
      <% if @user == current_user %>
        <a class="tab" data-target="#bookings">
          <h3>
          My bookings
          <% if @user.bookings.count > 0 %>
            (<%= @user.bookings.count %>)
          <% end %>
          </h3>
        </a>
      <% end %>

      <a class="tab" data-target="#hubots">
        <h3>
          <%= @user == current_user ? "My hubots" : "Hubots" %>
          <% if @user.hubots.count > 0 %>
            (<%= @user.hubots.count %>)
          <% end %>
        </h3>
      </a>

    </div>
  </div>

  <!-- #################################################################### -->
  <!-- tabs contents -->

  <div class="row">

    <!-- ############    PROFILE    ############### -->

    <div class="tab-content" id="profile">
      <h4>
        About <%= @user == current_user ? "you" : @user.first_name %>
      </h4>
      <p><%= @user.description %></p>
      <h4><%= @user == current_user ? "Your" : @user.first_name + "'s" %> infos</h4>
      <table class="table-striped">
        <tr>
          <td>email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>GPS Coordinates</td>
          <td><%= @user_coordinates[:lat] %>, <%= @user_coordinates[:lng] %></td>
        </tr>
      </table>
    </div>

    <!-- ############    BOOKINGS    ############### -->

    <div class="tab-content hidden" id="bookings">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!-- ################################# -->
      <!-- Tag lists -->

      <%= link_to "Pending bookings", "#pending-bookings", class: "btn btn-default" %>
      <% if %>
        <%= link_to "Current bookings", "#current-bookings", class: "btn btn-default" %>
        <%= link_to "Old bookings", "#old-bookings", class: "btn btn-default" %>
      <% end %>
      </div>

      <!-- ################################# -->
      <!-- Pending bookings of current_user (waiting for acceptance from owner) -->

      <h4 id="pending-bookings">Your pendind bookings (<%= @user_pending_bookings.count %>)</h4>

      <% @user_pending_bookings.each do |booking| %>
        <%= render 'shared/hubot_booking_details', booking: booking %>
      <% end %>

      <!-- ################################# -->
      <!-- Current bookings of current_user -->

      <h4 id="current-bookings">Your Current Bookings (<%= @user_current_bookings.count %>)</h4>
      <% @user_current_bookings.each do |booking| %>
        <%= render 'shared/hubot_booking_details', booking: booking %>
      <% end %>
      <% if @user_current_bookings.count == 0 %>
        <p> You have no booking currently!</p>
        <%= link_to "find a Hubot !", hubots_path, class: "btn btn-default" %>
      <% end %>

      <!-- ################################# -->
      <!-- Current bookings of current_user -->

      <h4 id="old-bookings">Your Old Bookings (<%= @user_old_bookings.count %>)</h4>
      <% @user_old_bookings.each do |booking| %>
        <%= render 'shared/hubot_booking_details', booking: booking %>
      <% end %>
      <% if @user_old_bookings.count == 0 %>
        <p> You have no old bookings yet!</p>
      <% end %>


    </div>

    <!-- ############    HUBOTS    ############### -->

    <div class="tab-content hidden" id="hubots">

      <!-- Pending bookings for hubots -->
        <!-- TODO -->

      <!-- Currently booked hubots -->
        <!-- TODO -->

      <!-- All hubots -->

      <h4><%= @user == current_user ? "My" : @user.first_name + "'s" %> hubots :</h4>
        <% @user.hubots.each do |hubot| %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= render 'shared/hubot', hubot: hubot %>
          </div>
        <% end %>
    </div>

  </div>
</div>

<!-- ################################ -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @user_coordinates.to_json %>;
      console.log('User coordinates are ' + coord.lat + ', ' + coord.lng);

      $('.tab').on('click', function(event) {
        $('.tab').removeClass('active');
        $(this).addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });
    });
  <% end %>
<% end %>
