<% content_for(:title_tag) do %>
  <%= @user.first_name ? @user.first_name : 'anonymous' %> <%= @user.last_name ? @user.last_name : '' %>
<% end %>

<%= link_to "â† Back", :back, class: "btn btn-default " %>

<% if user_signed_in? %>

  <div class="container"">

      <div class="row">
        <div class="col-md-1">
          <%= image_tag "johndoe.jpg", class:"avatar-xlarge" %>
        </div>
        <div class="col-md-11">
          <h1>
            Welcome <%= @user.first_name %> <%= @user.last_name %> !
          </h1>
        </div>
      </div>

      <!-- tabs headers -->

      <div class="row">

        <div class="tabs">

          <a class="tab active" data-target="#profile">
            <h3>My profile infos</h3>
          </a>
          <a class="tab" data-target="#bookings">
            <h3>My bookings</h3>
          </a>
          <a class="tab" data-target="#hubots">
            <h3>My hubots</h3>
          </a>

        </div>

      </div>


      <!-- tabs contents -->

      <div class="row">

          <div class="tab-content" id="profile">

            <h4>About you</h4>
            <p><%= @user.description %></p>
            <h4>Your infos</h4>
            <table class="table-striped">
            <tr>
              <td>email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td><%= @user.phone_number %></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><%= @user.address %></td>
            </tr>
          </table>




          </div>
          <div class="tab-content hidden" id="bookings">
            <% @user.bookings.each do |booking| %>

              <p>
                Your booked <%= booking.hubot.name %> <br>
                From: <%= booking.check_in %> <br>
                To: <%= booking.check_out %> <br>
                Total price: $<%= booking.total_price %> <br>
                Owner: <%= link_to booking.hubot.user.first_name, user_path(booking.hubot.user) %>
              </p>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <%= render 'shared/hubot', hubot: booking.hubot %>
              </div>
              <hr>

            <% end %>



          </div>
          <div class="tab-content hidden" id="hubots">

            <% @user.hubots.each do |hubot| %>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <%= render 'shared/hubot', hubot: hubot %>
              </div>
            <% end %>

          </div>

      </div>

  </div>

<% else %>

    <h1>
      <%= @user.first_name ? @user.first_name : 'Anonymous' %> <%= @user.last_name ? @user.last_name : '' %>
    </h1>

  <% end %>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @user_coordinates.to_json %>;
      console.log('User coordinates are ' + coord.lat + ', ' + coord.lng);

      $('.tab').on('click', function(event) {
        $('.tab').removeClass('active');
        $(this).addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });
    });
  <% end %>
<% end %>
