<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= render 'shared/hubot', hubot: booking.hubot %>
  </div>
  <div class="col-xs-6 col-sm-8 col-md-9">
    <span><strong>Date of booking:</strong> <%= booking.created_at %></span><br>
    <span><strong>From:</strong> <%= booking.check_in %></span><br>
    <span><strong>To:</strong> <%= booking.check_out %></span><br>
    <span><strong>Duration:</strong> <%= booking.check_out - booking.check_in %></span><br>
    <span><strong>Total price:</strong> $<%= booking.total_price %></span><br><br>
    <span><strong>Status:</strong> <%= booking.status %></span><br><br>
    <strong>Owner:</strong><br>
    <%= link_to user_path(booking.hubot.user) do %>
      <%= image_tag "johndoe.jpg", class:"avatar" %>
      <%= booking.hubot.user.first_name %>
    <% end %>
    <br>
    <%= link_to "Owner's reviews" %>
    <br>
    <%= link_to "Hubot's reviews" %>

  </div>
</div>
