<div class="card">
  <div class="card-image" style="background: linear-gradient(to bottom, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.2) 100%), url(<%= asset_path "avatars/#{rand(1..10)}.jpg" %>);">
    <span class="top-left model"><%= hubot.model %></span>
    <span class="top-right price">$<%= hubot.price_per_hour %>/h</span>
  </div>
  <div class="card-description">
    <div class="top-right rating text-center" title="Rating">
      <span class="rating-unit"><%= rand(3..5) %></span><span class="rating-decimal">.<%= rand(0..5) %></span>
    </div>
    <h3><%= hubot.name %></h3>
    <span class="category"><%= hubot.category %><span>
  </div>

  <%= link_to '', hubot_path(hubot, category: @category, check_in: @checkin, check_out: @checkout), class: "card-link" %>

</div>
