<div class="banner">
  <div class="banner-background">
    <% (4...14).each do |number| %>
      <%= link_to hubot_path(number) do %>
        <div class="banner-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url(<%= asset_path "avatars/#{number-3}.jpg" %>);"></div>
      <% end %>
    <% end %>
  </div>
  <div class="banner-content container-fluid">
    <h1>Need a Hubot?</h1>

    <div class="row">
      <div class="col-xs-12">

        <form class="form" action="search" method="get">
          <div class="form-group col-xs-12 col-lg-4" id="category">
            <label for="category" class="sr-only">Category</label>
            <select class="form-control input-lg" name="category">
              <option value="" disabled selected>Choose a category</option>
              <% Hubot::CATEGORIES.each do |category| %>
                <option value="<%= category %>"><%= category %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group col-xs-6 col-lg-3" id="check_in">
            <div class='input-group date' id='datetimepicker'>
              <label for="check_in" class="sr-only">Check in</label>
              <input type="text" name="check_in" class="form-control input-lg datetimepicker" id="check_in" placeholder="Check In">
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group col-xs-6 col-lg-3" id="check_out">
            <div class='input-group date' id='datetimepicker'>
              <label for="check_out" class="sr-only">Check out</label>
              <input type="text" name="check_out" class="form-control input-lg datetimepicker" id="check_out" placeholder="Check Out">
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group col-xs-12 col-lg-2" id="search">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>

<div class="wrapper" id="intro">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h3>Intro</h3>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="features wrapper-flex">
  <div class="feature container-flex">
    <div class="feature-img flex" style="background-image: url(<%= asset_path "banners/5_fauvea.jpg" %>);"></div>
    <div class="feature-content" id="fauvea">
      <h3>Feature Title</h3>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>

  <div class="feature container-flex switch-order">
    <div class="feature-img flex" style="background-image: url(<%= asset_path "banners/7_jumbojim.jpg" %>);"></div>
    <div class="feature-content" id="jumbojim">
      <h3>Feature Title</h3>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>

    <div class="feature container-flex">
    <div class="feature-img flex" style="background-image: url(<%= asset_path "banners/9_louie.jpg" %>);"></div>
    <div class="feature-content" id="louie">
      <h3>Feature Title</h3>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>

  <div class="feature container-flex switch-order">
    <div class="feature-img flex" style="background-image: url(<%= asset_path "banners/8_karl.jpg" %>);"></div>
    <div class="feature-content" id="karl">
      <h3>Feature Title</h3>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function () {
      $('#datetimepicker').datetimepicker({
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down"
        }
      });
    });
  <% end %>
<% end %>
