<div class="banner">
  <div class="banner-background">
    <%= (1..10).each do |number| %>
      <%= link_to hubot_path(number) do %>
        <div class="banner-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url(<%= asset_path "avatars/#{number}.jpg" %>);"></div>
      <% end %>
    <% end %>
  </div>
  <div class="banner-content container-fluid">
    <h1>Need a Hubot?</h1>

    <div class="row">
      <div class="col-xs-12">

        <form class="form" action="search" method="get">
          <div class="form-group col-xs-12 col-sm-4" id="category">
            <label for="category" class="sr-only">Category</label>
            <select class="form-control input-lg" name="category">
              <option value="" disabled selected>Choose a category</option>
              <% Hubot::CATEGORIES.each do |category| %>
                <option value="<%= category.downcase %>"><%= category %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group col-xs-6 col-sm-3" id="check_in">
            <label for="check_in" class="sr-only">Check in</label>
            <input type="input" class="form-control input-lg" id="check_in" placeholder="Check In">
          </div>
          <div class="form-group col-xs-6 col-sm-3" id="check_out">
            <label for="check_out" class="sr-only">Check out</label>
            <input type="input" class="form-control input-lg" id="check_out" placeholder="Check Out">
          </div>
          <div class="form-group col-xs-12 col-sm-2" id="search">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>
