<h1>Hubot description:</h1>

<ul>
  <li><%= @hubot.name %></li>
  <li><%= @hubot.age %></li>
  <li><%= @hubot.gender %></li>
  <li><%= @hubot.skin_color %></li>
  <li><%= @hubot.category %></li>
  <li><%= @hubot.manufacturer %></li>
  <li><%= @hubot.model %></li>
  <li><%= @hubot.turing_test_score %></li>
  <li><%= @hubot.price_per_hour %></li>
  <li><%= @hubot.autonomy %></li>
  <li><%= @hubot.charging_time %></li>
</ul>
