<% content_for(:title_tag) do %>
  <%= @hubot.name %>
<% end %>

<div class="wrapper bg-grey padded">
  <div class="container">
    <%= link_to "â† Back", root_path, class: "btn btn-default" %>
    <div class="row">

      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= image_tag "http://realhumans.arte.tv/atsugirobotics/img/build/01.jpg", class:'avatar avatar-full avatar-square' %>
      </div>

      <header class="col-xs-12 col-md-6 col-lg-7 col-lg-offset-1 hubot-meta">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
          Book me now !
        </button>

        <span class="hubot-model"><%= @hubot.model %></span> <span style="opacity: 0.25">|</span>
        <span class="hubot-category"><%= @hubot.category %></span>
        <h1 class="hubot-name"><%= @hubot.name %></h1>
        <hr>
        <p class="hubot-description"><%= @hubot.description %></p>
      </header>
    </div>

    <div class="row">
      <div class="col-xs-12 hubot-details">
        <h3>Details</h3>

        <ul>
          <li><span class="detail">Age:</span> <strong><%= @hubot.age %></strong></li>
          <li><span class="detail">Gender:</span> <strong><%= @hubot.gender %></strong></li>
          <li><span class="detail">Skin color:</span> <strong><%= @hubot.skin_color %></strong></li>
          <li><span class="detail">Manufacturer:</span> <strong><%= @hubot.manufacturer %></strong></li>
          <li><span class="detail">Turing test score:</span> <strong><%= @hubot.turing_test_score %> /100</strong></li>
          <li><span class="detail">Autonomy:</span> <strong><%= @hubot.autonomy %> hours</strong></li>
          <li><span class="detail">Charging time:</span> <strong><%= @hubot.charging_time %> hours</strong></li>
          <li><span class="detail">Price</span> <strong>$<%= @hubot.price_per_hour %>/h</strong></li>
        </ul>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Book <%= @hubot.name %> !</h4>
          </div>
          <div class="modal-body">
            Please choose your dates

            <%= simple_form_for [@hubot, @booking], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
                <%= f.error_notification %>

                <%= f.input :check_in %>
                <%= f.input :check_out %>
                Price per hour : $<%= @hubot.price_per_hour %>
                <%= f.submit "Confirm booking", html: { type:'button', class:'btn btn-primary' } %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <!-- <button type="button" class="btn btn-primary">Confirm</button> -->
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /.container -->
</div> <!-- /.wrapper -->

<% @booking.reviews.each do |review| %>
  <p>"<%= review.content %>"</p>
  <p>rating: <%= review.rating %></p>
<% end %>

<%= link_to 'Rate this Hubot' %>
