<h1>Hubot description:</h1>

<ul>
  <li>Name: <%= @hubot.name %></li>
  <li>Age: <%= @hubot.age %></li>
  <li>Gender: <%= @hubot.gender %></li>
  <li>Skin color: <%= @hubot.skin_color %></li>
  <li>Category: <%= @hubot.category %></li>
  <li>Manufacturer: <%= @hubot.manufacturer %></li>
  <li>Model: <%= @hubot.model %></li>
  <li>Turing test score: <%= @hubot.turing_test_score %> /100</li>
  <li>Autonomy: <%= @hubot.autonomy %> hours</li>
  <li>Charging time: <%= @hubot.charging_time %> hours</li>
  <li>Price per hour: <%= @hubot.price_per_hour %> $</li>
</ul>

<hr>

<%= link_to "â† Back", hubots_path, class: "btn btn-default" %>




<%= simple_form_for [@hubot, @booking] do |f| %>
  <%= f.input :check_in %>
  <%= f.input :check_out %>
  <%= f.button :submit %>
<% end %>

